<section class="container-fluid ctn-session">
  <div class="ctn-image container d-flex flex-column align-items-center justify-content-center">
    
    <%= image_tag "btrack.png", class: "img-cart" %>
  
  </div>
  <div class="ctn-login">
   <%= link_to 'LOGIN IN', new_user_session_path, 'data-ripple-light': true, class: "btn-in" %>
   <%= link_to 'SIGN UP', new_user_registration_path , 'data-ripple-light': true,  class: "btn-up" %> 
</section

